<input ng-if="type==1" type="text" class="form-control" />
<textarea ng-if="type==2" class="form-control" style="resize:none; height: 100px"></textarea>
<input ng-if="type==3 || type ==4" type="number" class="form-control" />
<e-select-box-control ng-if="type==5 || type==6 || type==7 || type==8" type="{{type}}"></e-select-box-control>
<select ng-if="type==10" class="form-control" ng-model="selectValue" ng-options="o as o for o in vm.roundOfFundingList">
        </select>
<form ng-if="type==11">
    <div class="checkbox" ng-repeat="item in vm.roundOfFundingList">
        <label><input type="checkbox" value="">{{item}}</label>
    </div>
</form>
<form ng-if="type==9">
    <div class="radio" ng-repeat="item in vm.roundOfFundingList">
        <label><input type="radio" name="optradio">{{item}}</label>
    </div>
</form>
<input ng-if="type==12" type="email" class="for"/>