<div id="home" class="container" ng-if="vm.mainSection != null">
    <div class="row title-header">
        <div class="col-xs-12">
            <h2>Order Confirmation</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <p>Please fill out the form with the most up to date information so we can helo you make the most of our
                        conference and networking sessions!</p>
                    <div class="form-group">
                        <p>Are your buying a ticket for yourself as an attendee?</p>
                        <div class="radio">
                            <label><input type="radio" value="true" ng-model="vm.isBuyTicketForYourSelf" ng-value="true" name="optradio">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" value="false" ng-model="vm.isBuyTicketForYourSelf" ng-value="false" name="optradio">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{vm.mainSection.sectionDescription}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="field-name">{{vm.mainSection.name.name}}: <span ng-if="vm.mainSection.name.required" class="require-field">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="field-name">{{vm.mainSection.email.name}}: <span ng-if="vm.mainSection.email.required" class="require-field">*</span></label>
                        <input type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-class="{'col-sm-6': field.type != '2' && field.type != '9' && field.type != '11'}" ng-repeat="field in vm.mainSection.fields">
                    <div class="form-group">
                        <label class="field-name">{{field.name}}: <span ng-if="field.required" class="require-field">*</span></label>
                        <e-input-control type="{{field.type}}"></e-input-control>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.isBuyTicketForYourSelf">
                <div class="col-xs-12">
                    <div class="form-group">
                        <p>What's your main objective at echelon</p>
                        <label class="field-name">{{vm.mainSection.objective.name}}: <span ng-if="field.required" class="require-field">*</span></label>
                        <select ng-init="vm.objectiveSelected = vm.mainSection.objective.options[0]" class="form-control" ng-model="vm.objectiveSelected" ng-change="vm.handleObjectiveChange()" ng-options="item as item.name for item in vm.mainSection.objective.options">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="vm.section != null && vm.isBuyTicketForYourSelf">
        <div class="col-xs-12">
            <div class="row">
                <label class="col-xs-12 label-control">{{vm.objectiveSelected.name}}</label>
            </div>
        </div>
        <div class="col-xs-12" ng-class="{'col-sm-6': field.type != '2' && field.type != '9' && field.type != '11'}" ng-repeat="field in vm.section.fields">
            <div class="form-group">
                <label class="field-name">{{field.name}}: <span ng-if="field.required" class="require-field">*</span></label>
                <e-input-control type="{{field.type}}"></e-input-control>
            </div>
        </div>
    </div>
    <div class="row" ng-if="vm.isBuyTicketForYourSelf == false">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <p>Enter the info of your other attendees</p>
                    <p>Other attendees listed here will receive their tickets via email</p>
                    <p>If you don't have email addresses of other attendees, please put YOUR email address instead. We will
                        send tickets to your email, and you can forward those tickets to other people</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="field-name">Full name: <span class="require-field">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="field-name">Email: <span class="require-field">*</span></label>
                        <input type="email" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <p>How did you hear about Echelon? </p>
                <select ng-init="vm.headAboutEchelonSelected = vm.sourceList[0]" class="form-control" ng-model="vm.headAboutEchelonSelected" ng-options="item as item for item in vm.sourceList">
                </select>
            </div>
        </div>
    </div>
</div>

<div id="loader-wrapper" ng-show="vm.mainSection == null">
    <div id="loader"></div>
</div>